body {
    background-color: #283951;
    color: whitesmoke;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1c2738;
  }
  
  li {
    float: left;
    border-right:0px solid whitesmoke;
  }
  
  li:last-child {
    border-right: none;
  }
  
  li a {
    display: block;
    color: whitesmoke;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover:not(.active) {
    background-color: #395173;
  }
  
  .active {
    background-color: #304562;
  }